body {
	background:#ACBEBE;
    text-align: center;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}

input {
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
}

.main{
	background-color:#f4f4ef;
    box-shadow: 2px 2px 20px  #20232a;
}

.main input {
	border: none;
	height: 48px;
	outline: none;
}

.main input[type="text"] {
	background-color: #fff;
	border-top: 2px solid #20232a;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}

.main input[type="email"] {
	background-color: #fff;
	border-top: 2px solid #20232a;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}

.main input[type="date"] {
	background-color: #fff;
	border-top: 2px solid #20232a;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}

.main input[type="submit"] {
	background-color: #ACBEBE;
	border: 1px solid #ACBEBE;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
	color: #20232a;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
    width: 240px;
    cursor: pointer;
}

.main input[type="reset"] {
	background-color: #ACBEBE;
	border: 1px solid #ACBEBE;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
	color: #20232a;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
    width: 240px;
    cursor: pointer;
}